td {
	vertical-align: top;
	padding: 15 3px;
}


.actor a {
	text-decoration: none;
	/* color: #666666; */
	font-size: 14px;
	line-height: 15px;
}

.actor a:hover {
	text-decoration: underline;
}

.index {
	font-weight: bold;
}

.portada {
	width: 150px;
	margin-right: 15px;
	border-radius: 5px;
	box-shadow: 2px 3px 4px #BBBBBB;
}


.country {
	width: 18px;
}

.director {
	color: #326E9C;
	text-decoration: none;
	font-size: 18px;
	line-height: 20px
}

.director:hover {
	text-decoration: underline
}

.title {
	color: #333333;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}
