header{
	background-color: #1ABC9B;
	height: 150px;
	line-height: 150px;
	text-align:center;
	color: #FFFFFF;
	font-size: 30px;
}
nav{
	height:40px;
	line-height: 40px;
	background-color: #333333;
	color:#FFFFFF;
}
.navlink {
	text-decoration: none;
	color:#FFFFFF;
	margin-right: 30px;
	font-size:16px;
}
body{
	display:flex;
	flex-direction: column;
}
.content {
	display:inline-flex;
	justify-content: flex-start;
}
aside{
	height: 380px;
	width: 33%;
	background-color:#F1F1F1;
}
.aside{
	margin-left:10px;
}
section {
	height: 380px;
	width: 66%;
}
.text-margin {
	display:inline-block;
	margin-left:15px;
	margin-top:20px;
}
article{
	background-color: #AAAAAA;
	height:160px;
	margin:15px;
}
footer{
	height: 80px;
	line-height: 80px;
	text-align:center;
	background-color: #DDDDDD;
	font-size: 22px;
}
